<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Produtos</title>
</head>
<body>

    <div class="cadastro">

        <label for="nome">Nome </label>
        <input class="form" name="nome" id="nome" type="text">

        <label for="preco">Preço </label>
        <input class="form" name="preco" id="preco" type="text">

        <label for="categoria">Categoria </label>
        <input class="form" name="categoria" id="categoria" type="text">

        <label for="quantidade">Quantidade </label>
        <input class="form" class="form" name="quantidade" id="quantidade" type="text">

        <label for="descricao">Descrição </label>
        <input class="form" name="descricao" id="descricao" type="text">

        <button onclick="cadastrarProduto()">Cadastrar</button>

    </div>

    <div class="mensagem"></div>

    <div class="tabela_produtos">

        <button onclick="exibirProdutos()">Mostrar</button>

        <table id="tabela">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Categoria</th>
                    <th>Qtd.</th>
                    <th>Descrição</th>
                    <th>Remover</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
    
    <script src="script.js"></script>
</body>
</html>