<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Produtos</title>
</head>
<body>

    <div class="container">

        <div class="cadastro">

            <label for="nome">Nome </label>
            <input class="form" name="nome" id="nome" type="text" placeholder="obrigatório">

            <label for="preco">Preço </label>
            <input class="form" name="preco" id="preco" type="text" placeholder="obrigatório">

            <label for="categoria">Categoria </label>
            <input class="form" name="categoria" id="categoria" type="text" placeholder="obrigatório">

            <label for="quantidade">Quantidade </label>
            <input class="form" class="form" name="quantidade" id="quantidade" type="text" placeholder="obrigatório">

            <label for="descricao">Descrição </label>
            <input class="form" name="descricao" id="descricao" type="text" placeholder="opcional">

            <button onclick="cadastrarProduto()">Cadastrar</button>

            <div class="mensagem"></div>

        </div>

        <div class="tabela_produtos">

            <button onclick="exibirProdutos()">Listar</button>

            <table id="tabela">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Categoria</th>
                        <th>Qtd.</th>
                        <th>Descrição</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="msg_exibicao">Produtos ainda não foram exibidos</div>

        </div>

    </div>
    
    <script src="script.js"></script>
</body>
</html>